---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/with-a-k/received_events?access_token=1a734c08abbc3242557dd247238d8ef07011cdbd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4897'
      X-Ratelimit-Reset:
      - '1441997191'
      Last-Modified:
      - Thu, 03 Sep 2015 13:58:45 GMT
      Etag:
      - W/"bfec60638c59e27ad91fea020afaccd0"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - e0df50a82b2c070b3567
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/6319591/received_events?access_token=1a734c08abbc3242557dd247238d8ef07011cdbd&page=2>;
        rel="next", <https://api.github.com/user/6319591/received_events?access_token=1a734c08abbc3242557dd247238d8ef07011cdbd&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3116831871","type":"IssuesEvent","actor":{"id":11841077,"login":"Drew242","gravatar_id":"","url":"https://api.github.com/users/Drew242","avatar_url":"https://avatars.githubusercontent.com/u/11841077?"},"repo":{"id":41321879,"name":"Drew242/the_pivot","url":"https://api.github.com/repos/Drew242/the_pivot"},"payload":{"action":"closed","issue":{"url":"https://api.github.com/repos/Drew242/the_pivot/issues/72","labels_url":"https://api.github.com/repos/Drew242/the_pivot/issues/72/labels{/name}","comments_url":"https://api.github.com/repos/Drew242/the_pivot/issues/72/comments","events_url":"https://api.github.com/repos/Drew242/the_pivot/issues/72/events","html_url":"https://github.com/Drew242/the_pivot/issues/72","id":104338974,"number":72,"title":"As
        a company admin, when someone applies to the company, I receive an email notification
        with the resume.","user":{"login":"novohispano","id":1654034,"avatar_url":"https://avatars.githubusercontent.com/u/1654034?v=3","gravatar_id":"","url":"https://api.github.com/users/novohispano","html_url":"https://github.com/novohispano","followers_url":"https://api.github.com/users/novohispano/followers","following_url":"https://api.github.com/users/novohispano/following{/other_user}","gists_url":"https://api.github.com/users/novohispano/gists{/gist_id}","starred_url":"https://api.github.com/users/novohispano/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/novohispano/subscriptions","organizations_url":"https://api.github.com/users/novohispano/orgs","repos_url":"https://api.github.com/users/novohispano/repos","events_url":"https://api.github.com/users/novohispano/events{/privacy}","received_events_url":"https://api.github.com/users/novohispano/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":{"login":"RickBacci","id":252278,"avatar_url":"https://avatars.githubusercontent.com/u/252278?v=3","gravatar_id":"","url":"https://api.github.com/users/RickBacci","html_url":"https://github.com/RickBacci","followers_url":"https://api.github.com/users/RickBacci/followers","following_url":"https://api.github.com/users/RickBacci/following{/other_user}","gists_url":"https://api.github.com/users/RickBacci/gists{/gist_id}","starred_url":"https://api.github.com/users/RickBacci/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/RickBacci/subscriptions","organizations_url":"https://api.github.com/users/RickBacci/orgs","repos_url":"https://api.github.com/users/RickBacci/repos","events_url":"https://api.github.com/users/RickBacci/events{/privacy}","received_events_url":"https://api.github.com/users/RickBacci/received_events","type":"User","site_admin":false},"milestone":{"url":"https://api.github.com/repos/Drew242/the_pivot/milestones/3","html_url":"https://github.com/Drew242/the_pivot/milestones/Iteration%203","labels_url":"https://api.github.com/repos/Drew242/the_pivot/milestones/3/labels","id":1284735,"number":3,"title":"Iteration
        3","description":"","creator":{"login":"novohispano","id":1654034,"avatar_url":"https://avatars.githubusercontent.com/u/1654034?v=3","gravatar_id":"","url":"https://api.github.com/users/novohispano","html_url":"https://github.com/novohispano","followers_url":"https://api.github.com/users/novohispano/followers","following_url":"https://api.github.com/users/novohispano/following{/other_user}","gists_url":"https://api.github.com/users/novohispano/gists{/gist_id}","starred_url":"https://api.github.com/users/novohispano/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/novohispano/subscriptions","organizations_url":"https://api.github.com/users/novohispano/orgs","repos_url":"https://api.github.com/users/novohispano/repos","events_url":"https://api.github.com/users/novohispano/events{/privacy}","received_events_url":"https://api.github.com/users/novohispano/received_events","type":"User","site_admin":false},"open_issues":0,"closed_issues":4,"state":"open","created_at":"2015-09-01T19:40:32Z","updated_at":"2015-09-03T20:58:44Z","due_on":"2015-09-03T06:00:00Z","closed_at":null},"comments":0,"created_at":"2015-09-01T19:39:54Z","updated_at":"2015-09-03T20:58:45Z","closed_at":"2015-09-03T20:58:44Z","body":null}},"public":true,"created_at":"2015-09-03T20:58:45Z"},{"id":"3116810302","type":"IssuesEvent","actor":{"id":252278,"login":"RickBacci","gravatar_id":"","url":"https://api.github.com/users/RickBacci","avatar_url":"https://avatars.githubusercontent.com/u/252278?"},"repo":{"id":41321879,"name":"Drew242/the_pivot","url":"https://api.github.com/repos/Drew242/the_pivot"},"payload":{"action":"closed","issue":{"url":"https://api.github.com/repos/Drew242/the_pivot/issues/71","labels_url":"https://api.github.com/repo[...]
- request:
    method: get
    uri: https://api.github.com/users/with-a-k/repos?access_token=1a734c08abbc3242557dd247238d8ef07011cdbd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4896'
      X-Ratelimit-Reset:
      - '1441997191'
      Etag:
      - W/"4a1fd1c38ac853c6042218c197b0c1e5"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - e0df50a82b2c070b3567
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":36317411,"name":"active-record-sinatra","full_name":"with-a-k/active-record-sinatra","owner":{"login":"with-a-k","id":6319591,"avatar_url":"https://avatars.githubusercontent.com/u/6319591?v=3","gravatar_id":"","url":"https://api.github.com/users/with-a-k","html_url":"https://github.com/with-a-k","followers_url":"https://api.github.com/users/with-a-k/followers","following_url":"https://api.github.com/users/with-a-k/following{/other_user}","gists_url":"https://api.github.com/users/with-a-k/gists{/gist_id}","starred_url":"https://api.github.com/users/with-a-k/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/with-a-k/subscriptions","organizations_url":"https://api.github.com/users/with-a-k/orgs","repos_url":"https://api.github.com/users/with-a-k/repos","events_url":"https://api.github.com/users/with-a-k/events{/privacy}","received_events_url":"https://api.github.com/users/with-a-k/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/with-a-k/active-record-sinatra","description":null,"fork":true,"url":"https://api.github.com/repos/with-a-k/active-record-sinatra","forks_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/forks","keys_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/keys{/key_id}","collaborators_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/teams","hooks_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/hooks","issue_events_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/issues/events{/number}","events_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/events","assignees_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/assignees{/user}","branches_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/branches{/branch}","tags_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/tags","blobs_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/git/refs{/sha}","trees_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/git/trees{/sha}","statuses_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/statuses/{sha}","languages_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/languages","stargazers_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/stargazers","contributors_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/contributors","subscribers_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/subscribers","subscription_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/subscription","commits_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/commits{/sha}","git_commits_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/git/commits{/sha}","comments_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/comments{/number}","issue_comment_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/issues/comments{/number}","contents_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/contents/{+path}","compare_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/compare/{base}...{head}","merges_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/merges","archive_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/downloads","issues_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/issues{/number}","pulls_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/pulls{/number}","milestones_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/milestones{/number}","notifications_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/labels{/name}","releases_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/releases{/id}","created_at":"2015-05-26T19:02:10Z","updated_at":"2015-05-26T19:02:10Z","pushed_at":"2015-05-26T15:30:43Z","git_url":"git://github.com/with-a-k/active-record-sinatra.git","ssh_url":"git@github.com:with-a-k/active-record-sinatra.git","clone_url":"https://github.com/with-a-k/active-record-sinatra.git","svn_url":"https://github.com/with-a-k/active-record-sinatra","homepage":null,"size":58,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":34690040,"name":"code_retreat","full_name":"with-a-k/code_retreat","owner":{"login":"with-a-k","id":6319591,"avatar_url":"https://avatars.githubusercontent.com/u/6319591?v=3","gravatar_id":"","url":"https://api.github.com/users/with-a-k","html_url":"https://github.com/with-a-k","followers_url":"https://api.github.com/users/with-a-k/followers","following_url":"https://api.github.com/users/with-a-k/following{/other_user}","gists_url":"https://api.github.com/users/with-a-k/gists{/gist_[...]
- request:
    method: get
    uri: https://api.github.com/user?access_token=1a734c08abbc3242557dd247238d8ef07011cdbd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4895'
      X-Ratelimit-Reset:
      - '1441997191'
      Last-Modified:
      [...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/starred?access_token=1a734c08abbc3242557dd247238d8ef07011cdbd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4893'
      X-Ratelimit-Reset:
      - '1441997191'
      Etag:
      -[...]
[...]
