---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/with-a-k/repos?access_token=1a734c08abbc3242557dd247238d8ef07011cdbd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1441938379'
      Etag:
      - W/"f9a4d9c94304e40a528dbfcc9123ef17"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - e0df50a82b2c070b3567
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":36317411,"name":"active-record-sinatra","full_name":"with-a-k/active-record-sinatra","owner":{"login":"with-a-k","id":6319591,"avatar_url":"https://avatars.githubusercontent.com/u/6319591?v=3","gravatar_id":"","url":"https://api.github.com/users/with-a-k","html_url":"https://github.com/with-a-k","followers_url":"https://api.github.com/users/with-a-k/followers","following_url":"https://api.github.com/users/with-a-k/following{/other_user}","gists_url":"https://api.github.com/users/with-a-k/gists{/gist_id}","starred_url":"https://api.github.com/users/with-a-k/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/with-a-k/subscriptions","organizations_url":"https://api.github.com/users/with-a-k/orgs","repos_url":"https://api.github.com/users/with-a-k/repos","events_url":"https://api.github.com/users/with-a-k/events{/privacy}","received_events_url":"https://api.github.com/users/with-a-k/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/with-a-k/active-record-sinatra","description":null,"fork":true,"url":"https://api.github.com/repos/with-a-k/active-record-sinatra","forks_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/forks","keys_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/keys{/key_id}","collaborators_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/teams","hooks_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/hooks","issue_events_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/issues/events{/number}","events_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/events","assignees_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/assignees{/user}","branches_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/branches{/branch}","tags_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/tags","blobs_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/git/refs{/sha}","trees_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/git/trees{/sha}","statuses_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/statuses/{sha}","languages_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/languages","stargazers_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/stargazers","contributors_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/contributors","subscribers_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/subscribers","subscription_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/subscription","commits_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/commits{/sha}","git_commits_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/git/commits{/sha}","comments_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/comments{/number}","issue_comment_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/issues/comments{/number}","contents_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/contents/{+path}","compare_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/compare/{base}...{head}","merges_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/merges","archive_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/downloads","issues_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/issues{/number}","pulls_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/pulls{/number}","milestones_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/milestones{/number}","notifications_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/labels{/name}","releases_url":"https://api.github.com/repos/with-a-k/active-record-sinatra/releases{/id}","created_at":"2015-05-26T19:02:10Z","updated_at":"2015-05-26T19:02:10Z","pushed_at":"2015-05-26T15:30:43Z","git_url":"git://github.com/with-a-k/active-record-sinatra.git","ssh_url":"git@github.com:with-a-k/active-record-sinatra.git","clone_url":"https://github.com/with-a-k/active-record-sinatra.git","svn_url":"https://github.com/with-a-k/active-record-sinatra","homepage":null,"size":58,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":34690040,"name":"code_retreat","full_name":"with-a-k/code_retreat","owner":{"login":"with-a-k","id":6319591,"avatar_url":"https://avatars.githubusercontent.com/u/6319591?v=3","gravatar_id":"","url":"https://api.github.com/users/with-a-k","html_url":"https://github.com/with-a-k","followers_url":"https://api.github.com/users/with-a-k/followers","following_url":"https://api.github.com/users/with-a-k/following{/other_user}","gists_url":"https://api.github.com/users/with-a-k/gists{/gist_[...]
- request:
    method: get
    uri: https://api.github.com/user?access_token=1a734c08abbc3242557dd247238d8ef07011cdbd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1441938379'
      Last-Modified:
      - Thu, 10 Sep 2015 18:16:43 GMT
      Etag:
      - W/"f98537b7e55b233e3af93626b36daddc"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - e0df50a82b2c070b3567
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"with-a-k","id":6319591,"avatar_url":"https://avatars.githubusercontent.com/u/6319591?v=3","gravatar_id":"","url":"https://api.github.com/users/with-a-k","html_url":"https://github.com/with-a-k","followers_url":"https://api.github.com/users/with-a-k/followers","following_url":"https://api.github.com/users/with-a-k/following{/other_user}","gists_url":"https://api.github.com/users/with-a-k/gists{/gist_id}","starred_url":"https://api.github.com/users/with-a-k/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/with-a-k/subscriptions","organizations_url":"https://api.github.com/users/with-a-k/orgs","repos_url":"https://api.github.com/users/with-a-k/repos","events_url":"https://api.github.com/users/with-a-k/events{/privacy}","received_events_url":"https://api.github.com/users/with-a-k/received_events","type":"User","site_admin":false,"name":"Erik
        Butcher","company":null,"blog":null,"location":"Colorado, United States","email":"with_a_k@mac.com","hireable":null,"bio":null,"public_repos":22,"public_gists":2,"followers":2,"following":0,"created_at":"2014-01-04T20:14:36Z","updated_at":"2015-09-10T18:16:43Z"}'
  recorded_at: Fri, 11 Sep 2015 01:26:19 GMT
[...]
