<div class="row">
	<div class="large-6 large-offset-1 columns">
		<h3>Activity</h3>
		<ul class="activity">
			<li>
				<h5>Your Collaborator closed issue "Coverage scare"</h5>
				<p>At least 90% coverage is required as determined...</p>
			</li>
			<li>
				<h5>You closed issue "Detangle routes"</h5>
				<p>Guys, the same thing shouldn't appear more than once...</p>
			</li>
			<li>
				<h5>You created the repository "blocketry"</h5>
				<p>Can't I have some fun sometimes?</p>
			</li>
		</ul>
	</div>
	<div class="large-4 end columns">
		<h3>Your Repositories</h3>
		<ul class="repos">
			<% current_user.repositories.each do |repository| %>
				<li>
					<%= byebug %>
					<h5><%= repository["name"] %></h5>
				</li>
			<% end %>
		</ul>
	</div>
</div>