<div class="row filler">
 <% 12.times do %>
 	<br>
 <% end %>
</div>
<div class="row">
	<div class="large-2 large-centered columns">
		<a href="/auth/github" class="button large round secondary text-center">Log In</a>
	</div>
</div>